body {
    box-sizing: border-box;
    min-height: 100vh;
    margin: 0px;
    background-color: #859cc7;

    display: grid;
    grid-template-rows: 150px 1fr min-content;
}

body * {
    box-sizing: border-box;
}

header {
    height: 150px;
    padding: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    font-size: 48px;
}

.page-layout {
    display: grid;
    grid-template-columns: 200px 1fr;
}

@media (max-width: 768px) {
    .page-layout {
        grid-template-columns: none;
        grid-template-rows: auto 1fr;
    }
}

nav {
    background-color: #b3c8e8;

    display: grid;
    grid-template-rows: min-content min-content min-content min-content;
}

@media (max-width: 768px) {
    nav {
        width: 100%;

        justify-content: center;
        grid-template-rows: none;
        grid-template-columns: min-content min-content min-content min-content;

        padding: 10px;
    }
}

@media (max-width: 425px) {
    nav {
        padding: 0px;
        justify-content: inherit;
        grid-template-columns: none;
    }
}

.nav-item {
    background-color: #e0b6cd;
    color: white;
    display: flex;
    align-items: center;

    padding: 20px;
    border-bottom: 1px solid white;
}

@media (max-width: 768px) and (min-width: 425px) {
    .nav-item {
        border: none;

        margin-right: 20px;
    }
    
    .nav-item:last-child {
        margin-right: 0px;
    }
}

@media (max-width: 425px) {
    .nav-item {
        border-bottom: 1px solid white;
        margin: 0px;
        background-color: #b3c8e8;
    }
}

.nav-item:last-child {
    border-bottom: none;
}

.nav-item a {
    text-decoration: none;
    color: inherit;
}

.nav-item a:hover {
    color: inherit;
}

main {
    display: grid;
    grid-template-columns: 1fr auto;

    background-color: white;
    color: black;
    padding: 24px;
}

@media (max-width: 768px) {
    main {
        grid-template-columns: inherit;
        padding: 16px;
    }
}

main > * {
    padding-right: 10px;
}

main > *:last-child {
    padding-right: 0px;
}

@media (max-width: 768px) {
    main > * {
        padding-bottom: 10px;
    }

    main > *:last-child {
        padding-bottom: 0px;
    }
}

main img {
    max-width: 300px;
    width: 100%;
    height: max-content;
}

.sections-container {
    display: flex;
    flex-direction: column;
}

section h2 {
    color: #b3c8e8;
}

@media (max-width: 425px) {
    h2 {
        margin: 4px;
    }
    p {
        margin: 4px;
    }
}

footer {
    color:#00025e;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}